.mail-compose {
  display: flex;
  align-items: center;
}

.mail-compose .compose-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.compose-form > * {
  width: 100%;
}

.compose-form .compose-title {
  padding: 5px 10px;
}
.compose-form .compose-to {
  padding: 5px 10px;
}
.compose-form .compose-subject {
  padding: 5px 10px;
}
.compose-form .compose-body {
  direction: ltr;
  min-height: 266px;
}
