.mail-side-filter {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  height: 70vh;
  padding-inline-end: 15px;
}

.mail-side-filter > * {
  all: unset;
  height: 42px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  transition: ease-in 0.1s;
  opacity: 0.8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 5px;
  letter-spacing: 0.25px;
  border-bottom: 1px solid #808080;
  font-family: Arial, Helvetica, sans-serif;
}

.mail-side-filter > a:hover {
  background-color: #e0e0e0;
  transform: ease-in;
  color: #000000;
}

.router-link-active {
  color: #000000;
  background-color: #e0e0e0;
}

.compose-btn {
  color: green;
  font-size: 1.1em;
}

.compose-btn:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  background-color: #fafafb;
  color: green;
}

.progress-bar:hover {
  background: none;
  cursor: text;
  color: black;
}

.progress-bar {
  position: relative;
  height: 30px;
}

.progress-bar .percentage {
  position: absolute;
  padding: 10px;
}

.unread-emails-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border: none;
  padding: 5px;
  font-size: 0.875em;
  cursor: default;
}

progress {
  width: 100%;
  padding: 25px;
  height: 100%;
}

.sidenav-collapser {
  display: none;
}

.sidenav-collapser .line {
  display: inline-block;
  width: 3px;
  height: 60px;
  margin: 5px 1px;
  transition: all 0.5s ease-in-out;
  background-color: #222;
}

.sidenav-collapser {
  margin-left: 2px;
}

/* BP */

/* medium */
@media screen and (min-width: 760px) {
  .mail-side-filter a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    width: 100%;
    height: 100%;
  }

  .mail-side-filter a:hover {
    background-color: #ccc;
    color: #222;
  }
}

@media only screen and (max-width: 760px) {
  .side-nav-container {
    display: flex;
    align-items: center;
  }

  .mail-side-filter {
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: -100%;
    top: 5.8rem;

    width: 80%;
    height: 91%;

    text-align: center;
    color: linen;
    background-color: #3f3f3f;

    z-index: 1000;
    transition: all 0.5s ease-in-out;
  }

  .mail-side-filter.nav-open {
    left: 0;
  }

  .line.nav-open {
    background-color: linen;
  }

  .compose-btn {
    font-size: 1em;
  }

  .mail-side-filter a {
    display: inline-block;
    width: 100%;
    padding: 2rem 1rem;
  }

  .mail-side-filter a:hover {
    background-color: #222;
    color: linen;
  }

  .sidenav-collapser {
    display: block;
    cursor: pointer;
    z-index: 1002;
  }

  .sidenav-collapser.nav-open .line:nth-child(2) {
    opacity: 0;
  }

  .sidenav-collapser.nav-open .line:nth-child(1) {
    transform: translateY(8px);
  }

  .sidenav-collapser.nav-open .line:nth-child(3) {
    transform: translateY(-8px);
  }
}
