.mail-side-filter {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  padding-inline-end: 15px;
}

.mail-side-filter > * {
  all: unset;
  height: 42px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  transition: ease-in 0.1s;
  opacity: 0.8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 5px;
  letter-spacing: 0.25px;
  border-bottom: 1px solid #808080;
  font-family: Arial, Helvetica, sans-serif;
}

.mail-side-filter > *:hover {
  background-color: #e0e0e0;
  transform: ease-in;
  color: #000000;
}

.router-link-active {
  color: #000000;
  background-color: #e0e0e0;
}

.compose-btn {
  color: green;
  font-size: 1.1em;
}

.compose-btn:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  background-color: #fafafb;
  color: green;
}

.progress-bar:hover {
  background: none;
  cursor: text;
  color: black;
}

.progress-bar {
  position: relative;
}

.progress-bar span {
  position: absolute;
  padding: 10px;
}

progress {
  width: 100%;
  padding: 25px;
}

/* BP */

/* medium */
@media (max-width: 760px) {
  .mail-side-filter {
    height: 100vh;
    z-index: 10000;
    position: fixed;
    left: 0;
    margin-right: 0;
    transition: transform 0.6s, box-shadow 0.6s;
    transform: translate(-100%);
    border-inline-end: 1px solid #1e1e1e;
    background-color: lightcyan;
    justify-content: flex-start;
  }
  .compose-btn {
    font-size: 1em;
  }
}
