.mail-side-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  gap: 5px;
  margin-right: 15px;
}

.mail-side-filter > * {
  all: unset;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  transition: ease-in 0.1s;
  color: #808080;
  padding-inline-start: 20px;
}

.mail-side-filter > *:hover {
  background-color: #e0e0e0;
  transform: ease-in;
}

.router-link-active {
  color: red;
}

.compose-btn {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: 24px;
  letter-spacing: 0.25px;
  height: 52px;
  width: 100%;
  text-align: center;
  color: #3c4043;
}

.compose-btn:hover {
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  background-color: #fafafb;
}
