.masonry {
    column-count: 3;
}

.pinned-notes {
    min-height: 400px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .masonry {
        column-count: 2;
    }
}

@media screen and (max-width: 680px) {
    .masonry {
        column-count: 1;
    }
}