.note-card {
    /* width: 240px; */
    /* padding: 5px; */

    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;

    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
    background-color: linen;
    color: #2c2c2c;
    font-size: 1.2rem;
    font-weight: 500;
}

.note-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}