.note-card {
    break-inside: avoid;
    
    padding: 10px;

    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
    background-color: #faf0e6;
    color: #2c2c2c;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.note-video, .note-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-video {
    min-width: 250px;
    height: 200px;
}

.note-card:hover .actions {
    visibility: visible;
}

.actions {
    display: flex;
    justify-content: space-evenly;

    position: relative;
    padding-top: 1em;
}

.note-indicators {
    display: flex;
    justify-content: space-between;
}

.pinned-note-pin {
    position: relative;
    font-size: 1.5rem;
    transform: rotate(40deg);
    color: rgb(255, 0, 0);
}

.pinned-note-pin::before {
    position: absolute;
    content: '•';

    left: 5px;
    bottom: -12px;
    color:#000000;
}

.actions span {
    opacity: .56;
}

.pinned .actions span:first-child {
    opacity: 1;
}

.color-choose {
    opacity: 1 !important;
}

.actions span:hover {
    cursor: pointer;
    opacity: 1;
}

.color-picker {
    opacity: 1;
}

.color-picker {
    position: absolute;
    right: 0;
    top: -1em;
    padding: 0 5px;
    padding-top: 5px;
    background-color: rgb(129, 129, 129);
    border-radius: 10px;
}

.color-blob {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(230, 230, 230);
}

.color-blob.selected {
    border: 2px solid black;
}
    
.note-card {
    margin-bottom: 25px;  
}

@media only screen and (max-width: 550px) {
    .note-card {
        margin-bottom: 30px;  
    }
}
