.todos-container {
    text-align: left;
}

ul {
    padding-left: 5px;
}

li {
    list-style: none;
}

.strike {
    text-decoration: line-through;
}

.todo-item span {
    display: flex;
    justify-content: space-between;
}