.todos-container {
    text-align: left;
}

ul {
    position: relative;
    padding-left: 5px;
}

li {
    list-style: none;
}

li::before {
    content: '°';
    position: absolute;
    left: -5px;
}

.todo-done::before {
    content: '•';
    position: absolute;
    left: -5;
}

.strike {
    text-decoration: line-through;
}

.todo-item span {
    display: flex;
    justify-content: space-between;
}