.mail-index {
  display: flex;
  padding: 10px;
}

.layout-wrapper {
  flex-grow: 1;
}

/* BP */

/* medium */
@media (max-width: 760px) {
  .layout-wrapper {
    flex-grow: 0;
    width: 95%;
    margin-left: auto;
  }

  .mail-index {
    /* flex-direction: row-reverse; */
  }
}

.filter-top-container {
}
