@import './cmps/add.css';
@import './cmps/todos.css';
@import './cmps/img.css';
@import './cmps/notes.css';
@import './cmps/filter.css';
@import './cmps/list.css';
@import './cmps/video.css';

.note-app {
    display: flex;

    margin-top: 15px;
}

.main-keep-container {
    width: 70%;
}