@import './cmps/add.css';
@import './cmps/todos.css';
@import './cmps/img.css';
@import './cmps/notes.css';
@import './cmps/filter.css';
@import './cmps/list.css';
@import './cmps/video.css';

.note-app {
  overflow-x:hidden; /* :( */
  
  display: flex;
  transition: 0.3s;

  margin: 15px;
}

.main-keep-container {
  width: 100%;
  margin-left: 35px;
}
