@import 'cmps/app-header.css';
@import 'cmps/app-footer.css';
@import 'partials/helpers.css';
@import 'apps/keep/note-app.css';
@import 'apps/mail/mail-app.css';
@import 'apps/books/book-app.css';
@import 'cmps/flash-msg.css';
@import 'cmps/app-home.css';

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
